*{
    padding: 0%;
    margin: 0%;
}

/* NAVABAR */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul li{
    list-style: none;
    display: inline-block;
    

}







/*How to use flex*/

.container{
    display: flex;
    gap: 20px;
    /*different ways to create margin at the two edges of a web page*/
    /*margin: 0% 10%; method 1* the tirst parameter affects up and down, the second affects left and right/ 
    /*margin-left: 10%* method 2/
    /*margin-right: 10%*/
    width: 80%;  /*method 3*/
    margin: auto;
}

/*Creating flex that has differnt elements*/
.image{
    display: flex;
    gap: 20px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.image img{
    width: 100%;
}

.image h1{
    color: blue;
    margin: 10px 0px;
}

button{
    background-color: blue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top:  10px;
    
}

.image a{
    color: white;
    text-decoration: none;
   
}